---
layout: default
---

<div class="home-hero">
  <h1>你好呀</h1>
  <p class="tagline">这里是一个音游和逻辑解谜游戏爱好者 半栈工程师 拖延症产品经理的博客</p>
</div>

<div class="home-contact">
  <p>Email: 这个域名@这个域名</p>
  <p>QQ: 这个域名@qq.com</p>
  <p>WX: IQPLUS8</p>
  <p>osu!: <a href="https://osu.ppy.sh/users/838176">Ts8zs</a></p>
  <p>Steam: <a href="https://steamcommunity.com/id/ts8zs/">Ts8zs</a></p>
  <p>油猴脚本: <a href="https://greasyfork.org/zh-CN/users/207890-ts8zs">Greasy Fork</a></p>
</div>

        <h3>AI 做的小东西</h3>
        <ul>          
          <li><a href="/game.html" {% if page.url == '/game.html' %}class="active"{% endif %}>DVD小游戏</a></li>
          <li><a href="/er.html" {% if page.url == '/er.html' %}class="active"{% endif %}>儿化音小游戏</a></li>
          <li><a href="/de.html" {% if page.url == '/de.html' %}class="active"{% endif %}>的地得小游戏</a></li>
          <li><a href="/shuzhi.html" {% if page.url == '/shuzhi.html' %}class="active"{% endif %}>数织</a></li>
          <li><a href="/anywordle.html" {% if page.url == '/anywordle.html' %}class="active"{% endif %}>不限字母数量的 WORDLE</a></li>
          <li><a href="/114514/" {% if page.url == '/114514/' %}class="active"{% endif %}>114 最有文化的一集</a></li>
          <li><a href="/d4w/" {% if page.url == '/d4w/' %}class="active"{% endif %}>把所有舞蹈视频都变成跳舞游戏</a></li>
          <li><a href="/jsbeat/" {% if page.url == '/jsbeat/' %}class="active"{% endif %}>Jubeat 模拟器</a></li>
          <li><a href="/RTLC.html" {% if page.url == '/RTLC.html' %}class="active"{% endif %}>节奏天国奇迹之星歌词对比</a></li>
        </ul>